/* Color Pallette
#1B4079 - DARK CERULEAN (blue)-
#4D7C8A - TEAL BLUE-
#7F9C96 - ROMAN SILVER-
#CBDF90 - MEDIUM SPRING BUD
*/

/* Global Styles
------------------------*/
/* the Box Model Fix, apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* copied above code from site*/
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: rgb(121, 27, 27);
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.col-narrow {
  width: 30%;
  float: left;
  /* min-height: 175px;  use before applied suedo class */
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  /* min-height: 175px; use before applied suedo class */
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  text-decoration: none;
  background: #CBDF90;
  color: #4D7C8A;
  padding: 10px;
  display: inline-block;
}

/* Header and Footer
------------------------*/
header, footer {
  background: #7F9C96;
  color:#CBDF90;
  /* #1B4079;*/
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
.profile-img {
  border-radius: 50%; /* 6px value will make corners rounded */
  /* width: 300px; 
  float: left;
  margin-right: 30px; removed as I changed the .col-narrow and wide values above */
}
/* header {
  text-align: center; center align text and picture 
}*/
header h1, header h2 {
 color: #CBDF90;
 /* #4D7C8A; */
 margin: 0;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer*/
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block
}

/*navigation
------------------*/
nav {
  text-align: center;
  background: #CBDF90;
  position: fixed;
  top: 0;
  width: 100%;
  
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color:#4D7C8A;
  
}
/* Work Experience
---------------------*/
.work {
  background: #4D7C8A;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}
/* Education
-------------------*/
.education {
background: #4D7C8A;
}
p + h3 {
  margin-top: 30px;
}